parameters:
    level: 8
    treatPhpDocTypesAsCertain: false
    checkMissingIterableValueType: false
    inferPrivatePropertyTypeFromConstructor: true
    reportUnmatchedIgnoredErrors: true # Could be set to false if necessary during PHPStan update
    tmpDir: ./var/cache/phpstan
    paths:
        - src

    featureToggles:
        unusedClassElements: true

    excludes_analyse:

    ignoreErrors:
