parameters:
    level: 8
    treatPhpDocTypesAsCertain: false
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
    inferPrivatePropertyTypeFromConstructor: true
    reportUnmatchedIgnoredErrors: true # Could be set to false if necessary during PHPStan update
    tmpDir: ./var/cache/phpstan
    paths:
        - src
        
    excludePaths:
        - src/Service/WebhookAuthenticator.php

    excludes_analyse:

    ignoreErrors:
        -
            message: '#Unsafe usage of new static\(\)#'
            path: src/Data/Collection.php


