parameters:
    level: 8
    treatPhpDocTypesAsCertain: false
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
    inferPrivatePropertyTypeFromConstructor: true
    reportUnmatchedIgnoredErrors: true # Could be set to false if necessary during PHPStan update
    tmpDir: ./var/cache/phpstan
    paths:
        - src

    excludes_analyse:

    ignoreErrors:
        -
            message: '#Unsafe usage of new static\(\)#'
            path: src/Data/Collection.php
        -
            message: '#Method Vin\\ShopwareSdk\\Client\\ClientInterface\:\:(.*) has parameter \$uri with no typehint specified\.#'
            path: src/Client/ClientInterface.php

