<?xml version="1.0" encoding="UTF-8"?>

<!-- https://phpunit.readthedocs.io/en/latest/configuration.html -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         colors="true"
         bootstrap="vendor/autoload.php"
>
    <php>
        <ini name="date.timezone" value="UTC"/>
    </php>

    <testsuites>
        <testsuite name="Shopware SDK Test Suite">
            <directory>./tests/</directory>
        </testsuite>
    </testsuites>

    <source>
        <include>
            <directory>src</directory>
        </include>
        <exclude>
            <directory>src/Data/Entity/v0000</directory>
            <directory>src/Data/Entity/v6550</directory>
            <directory>src/Data/Entity/v6560</directory>
            <directory>src/Data/Entity/v6571</directory>
            <directory>src/Data/Entity/v6580</directory>
            <directory>src/Data/Entity/v6583</directory>
            <directory>src/Data/Entity/v6588</directory>
            <directory>src/Data/Entity/v65812</directory>
        </exclude>
    </source>

    <coverage includeUncoveredFiles="true" pathCoverage="true">
    </coverage>
</phpunit>